<div class="card">
    <form (ngSubmit)="AddAuthor()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table">
                    
                    <tbody>
                      
                      <tr>
                        <td><label>Author Id</label></td>
                        <td><input type="text" name="p_id" [(ngModel)]="authorItem.authorID"></td>
                      </tr>
                      <tr>
                        <td><label>Author Name</label></td>
                        <td><input type="text" name="p_name" [(ngModel)]="authorItem.authorname"></td>
                      </tr>
                      <tr>
                        <td><label>Genre</label></td>
                        <td><input type="text" name="p_date" [(ngModel)]="authorItem.genre"></td>
                      </tr>    
                      <tr>
                        <td><label>Image Url</label></td>
                        <td><input type="text" name="p_image" [(ngModel)]="authorItem.imageUrl"></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          
                      </tr>
                    </tbody>
                  </table>
                  <button type="submit" class="btn btn-primary" style="width: 100%; ">Submit</button> 

            </div>
        </div>
    </form>
</div>



